.resimSlider{
    height: 50%;
}
.abc{
    
    width: 70vw;
    margin: auto;
}
body{
    padding-top: 3%;
    background-color: gray;
}
.YaziTipi1 {
    font-family: 'Itim', cursive;
}
.hakkimizda{
    background-color: gray;
}
.ayrac{
    background-color: #f2f2f2;
}
.cizgi{
    border:0.2vw solid black;
}
.fotograf{
    height: 50vw;
    width: 100%;
}
.clr{
    background-color: #9d9d9d;
    
}

s
.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1vw;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.btn{
    background-color: #897878;
}
.btn:hover{
    background-color: #9d9d9d;
}
.Link{
    color: black;
    text-decoration: none;
}
.headerr
{
    background-color: burlywood;
    width: 100%;
}
.jumbotron{
    padding: 3%;
}
.Uludag{
    background-image:url(img/uludag_yol.jpg) ;
    
    padding: 3%;
}
.Ulucami{
    background-image:url(img/ulucami_header.jpg) ;
    background-position: 10% 70%;
    padding: 3%;
}
.Tophane{
    background-image:url(img/tophanemanzara.jpg) ;
    background-position: 40% 80%;
    padding: 3%;
}
.Kc{
    background-image:url(img/kapalıçarşı.jpg) ;
    background-position: 10% 70%;
    padding: 3%;
}